aws_region         = "eu-west-2"
environment        = "prod"
project_name       = "rfc-watford"
app_domain_name    = "orders.example.com"
cert_manager_email = "ops@example.com"

eks_min_nodes     = 2
eks_desired_nodes = 3
eks_max_nodes     = 8
